{% extends 'base.html' %}

{% block title %}{{ movie.movie_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="{{ movie.movie_image.url }}" class="img-fluid" alt="{{ movie.movie_name }}">
    </div>
    <div class="col-md-4">
        <h2>{{ movie.movie_name }}</h2>
        <p><strong>Director:</strong> {{ movie.director.director_name }}</p>
        <p><strong>Actors:</strong> {{ movie.actors.all|join:", " }}</p>
        <p><strong>Genre:</strong> {{ movie.genre.genre_name }}</p>
        <p><strong>Country:</strong> {{ movie.country.country_name }}</p>
        <p><strong>Release Date:</strong> {{ movie.date }}</p>
        <p><strong>Duration:</strong> {{ movie.movie_time }}</p>
        <p>{{ movie.description }}</p>
        <a href="{{ movie.movie_trailer }}" class="btn btn-secondary">Watch Trailer</a>
    </div>
</div>
<hr>
<h4>Ratings</h4>
{% for rating in movie.rating_set.all %}
<p>{{ rating.user.username }} rated this {{ rating.stars }} stars</p>
{% endfor %}

<hr>
<h4>Comments</h4>
{% for comment in movie.comment_set.all %}
<div class="comment my-2">
    <p><strong>{{ comment.user.username }}</strong> on {{ comment.created_date }}:</p>
    <p>{{ comment.text }}</p>
</div>
{% endfor %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="comment">Add a Comment:</label>
        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
